<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Bold</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://i.ibb.co/M9gGqw6/B-1.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <style type="text/css">
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #fff;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #000;
    }
  </style>
  <body
    style="
      font-family: 'Roboto', sans-serif;
      background-color: #fff;
      color: #000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
    "
  >
    <img
      src="https://i.ibb.co/M9gGqw6/B-1.png"
      style="
        border: 1px solid #333;
        border-radius: 30px;
        width: 90%;
        max-width: 500px;
      "
    />
    <br />
    <div
      style="
        text-align: left;
        font-size: 1.5rem;
        width: 90%;
        max-width: 500px;
        margin-top: 2rem;
      "
    >
      Hey There 👋
      <p>Welcome to Bold 🥳</p>
      <p>Our aim is to change the way you shop online 😎</p>
      Bold is the world's first zero setup store. One click is all it takes to
      set up your store on Bold <br / > <br />
      By signing up you’ve not only taken your first step towards helping
      Instagram Businesses grow but you are now a part for our ever growing
      community! 🎉
    </div>
    <a href="www.google.com" style="width: 100%; text-decoration: none">
      <div
        style="
          background-color: #000;
          color: #fff;
          width: 90%;
          max-width: 500px;
          padding: 1rem;
          border-radius: 7px;
          text-align: center;
          margin-top: 2rem;
          margin-bottom: 2rem;
          font-weight: bolder;
          cursor: pointer;
          margin-left: auto;
          margin-right: auto;
        "
      >
        Download Our iOS App
      </div>
    </a>
    <a href="www.google.com" style="width: 100%; text-decoration: none">
      <div
        style="
          background-color: #fff;
          color: #000;
          border: 1px solid #333;
          width: 90%;
          max-width: 500px;
          padding: 1rem;
          border-radius: 7px;
          text-align: center;
          margin-bottom: 2rem;
          font-weight: bolder;
          cursor: pointer;
          margin-left: auto;
          margin-right: auto;
        "
      >
        Download Our Android App
      </div>
    </a>
    <p
      style="
        font-size: 5rem;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: bolder;
      "
    >
      Bold
    </p>
    <p>©2022 Bold</p>
    <!--
    <h1>What Do We Offer?</h1>
    You can now connect to your fans on a completely different level! Our
    services include Cheer jar - A one time gift for creators where fans decide
    the amount. Cheer your creators by filling up their jars to keep them
    motivated and use this as a way to let them know what their content means to
    you! Use this as a token of appreciation for the amount of hard work they
    put in for you and thousands more just like you! Multiple subscription tiers
    - Monthly Subscription plans for fans. Help your creators by subscribing to
    their exclusive content every month! Become a part of their amazing journey
    and watch them grow! Discord integration - Creators can now integrate their
    discord servers with our website and build a stronger community. Fans get to
    join different voice channels and text channels and get Offer commissions -
    A quick and easy way for fans to ask creators for private and customized
    projects and products! Message wall - Leave heartwarming messages for your
    favorite creators! Let them know how amazing they are at what they do!
    Encourage them to do better and support them as if you were family. The
    message wall is about fans communicating one on one with their favorite
    creators. Membors only live streaming - An exclusive Membors only live
    streaming. Be a part of an elite community of fans where you build an
    everlasting bond with your favorite creators! Start using Memboro Now - You
    are receiving this email because you signed up on Memboro. Want to stop
    receiving these emails? Click here to unsubscribe.
     -->
  </body>
</html>
